.wrapper {
    width: 60px;
    min-height: 400px;
    background: rgb(54, 20, 60);

    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.addChanel {
    width: 50px !important;
    height: 50px !important;
    color: white  !important;

}
